<article class="flex mb-14">
  <img
    class="mr-4 self-start rounded-full"
    src="https://placeimg.com/40/40/people"
  />
  <div>
    <div class="flex">
      <span class="font-bold">{{username}}</span>
      <span class="self-center mx-2 text-gray-500 text-xs">&#9679;</span>
      <span class="self-center text-gray-500 text-xs">3 hours Ago</span>
    </div>
    <p class="my-4">{{text}}</p>
    <div class="font-bold text-xs text-gray-600">
      <a class="mr-6">
        <div class="relative bottom-px mr-1 w-3 overflow-hidden inline-block">
          <div
            class="h-2 w-2 bg-gray-600 rotate-45 transform origin-bottom-left"
          ></div>
        </div>
        Upvote
      </a>
      <a>Reply</a>
    </div>
  </div>
</article>