<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="mx-auto max-w-7xl">
    {{{body}}}
    <script async defer src="/scripts/client.js"></script>
  </body>
</html>